body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.js-menu {
  scroll-behavior: smooth;
}
.introducao {
  width: 110%;
  height: 800px; /*Tamanho*/
  background: url('../img/imagem menu.jpg') no-repeat center;
  background-size: cover;
  margin-top: 70px;
  padding-top: 40px;
}
.sobre {
  width: 110%;
  height: 1250px; /*Tamanho*/
  background: url('../img/sobre responsivo.png') no-repeat center;
  background-size: cover;
  padding-top: 8px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #7b0489;
  padding: 15px;
  z-index: 50;
}

.header_menu ul li {
  display: inline-block; /*Menu um do lado do outro*/
  color: aliceblue;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-size: 15px;
  margin-right: 30px;
}
.header_menu ul li a {
  color: white;
}
.introducao p {
  margin-top: 20px;
  font-size: 40px;
  max-width: 300px;
  line-height: 50px;
  font-weight: bold;
  margin-left: 30px;

  color: #fff;
}
.PC {
  margin-top: -650px;
  margin-left: -10px;
  max-width: 600px;
}

.fotofer {
  margin-top: 880px;
  margin-left: 25px;
  max-width: 300px;
}
.sobre_texto {
  margin-top: -1150px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #fff;
}
.sobre_texto h1 {
  margin-left: 80px;
  margin-bottom: 50px;
  color: #fff;
}
.skils-balao {
  width: 150%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow: none;
  margin-bottom: 100px;
  margin-left: -135px;
}
.skills h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 150px;
}
.skills ul li {
  display: inline-block;
  margin-bottom: 30px;
}
.portifolio h1 {
  margin-left: 120px;
}
.footer {
  width: 110%;
  background-color: #c202d8;
  color: #fff;
}
.copy {
  width: 100%;
  background: #7b0489;
  padding: 20px 0;
  padding: 15px 0;
  z-index: 10;
}
.portifolio ul li {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  margin-bottom: 15px;
}
.banner h3 {
  font-size: 1.5em;
  color: #11ff00;
  font-weight: 500;
  margin-left: 30px;
  font-family: 'Courier New', Courier;
}
/*Imagem Hover*/
.container-teste {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 3100px;
}
.container-teste .card {
  position: relative;
  width: 190px;
  height: 180px;
  margin: 15px;
  overflow: hidden;
  border: none;
  margin-left: 130px;
}

.container-teste .card .imgBx,
.container-teste .card .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container-teste .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-teste .card .contentBx::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay: 0.5s;
}
.container-teste .card:hover .contentBx::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transition-delay: 0s;
}
.container-teste .card .contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-teste .card .contentBx .content {
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-300px);
  transition-delay: 0s;
}
.container-teste .card:hover .contentBx .content {
  transform: translateX(0px);
  transition-delay: 0.5s;
}
.container-teste .card .contentBx .content h3 {
  font-size: 10px em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container-teste .card .contentBx .content p {
}

@media (min-width: 768px) {
  .container-teste .card {
    position: relative;
    width: 200px;
    height: 150px;
    margin: 15px;
    overflow: hidden;
    border: none;
  }
  .portifolio ul li {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    margin-bottom: 35px;
    margin-left: 80px;
  }
  .introducao p {
    margin-top: 20px;
    font-size: 40px;
    max-width: 300px;
    line-height: 50px;
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
  }
  .introducao {
    width: 101%;
    height: 800px; /*Tamanho*/
    background: url('../img/imagem menu.jpg') no-repeat center;
    background-size: cover;
    margin-top: 70px;
    margin-left: -15px;
    padding-top: 50px;
  }
  .portifolio h1 {
    margin-left: 580px;
    margin-bottom: 40px;
  }
  .skils-balao {
    width: 89%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 10px 10px #7b0489;
    border-radius: 30px;
    margin-left: 55px;
    margin-top: -70px;
    height: 500px;
  }
  .banner h3 {
    font-size: 1.5em;
    color: #11ff00;
    font-weight: 500;
    margin-left: 20px;
    font-family: 'Courier New', Courier;
  }
  .skills h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 35px;
  }

  .introducao p {
    font-size: 60px;
    line-height: 70px;
    max-width: 400px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
  .PC {
    margin-top: -1000px;
    margin-left: 750px;
    max-width: 600px;
  }
  .pc-fundo {
    background: #0a0b0b;
  }
  .sobre_texto {
    margin-left: 600px;
    margin-top: -450px;
  }
  .sobre_texto h1 {
    margin-top: 50px;
    margin-left: 160px;
    margin-bottom: 50px;
    color: #fff;
  }
  .sobre_texto p {
    margin-top: 10px;
    color: #fff;
  }
  .fotofer {
    margin-top: 100px;
    margin-left: 200px;
    max-width: 400px;
  }
  .sobre {
    width: 100%;
    height: 700px; /*Tamanho*/
    background: url('../img/Fundo Sobre.png') no-repeat center;
    background-size: cover;
    margin-top: 0px;
    margin-left: -507x;

    padding-top: 8px;
  }
  .footer {
    width: 101%;
    background-color: #c202d8;
    color: #fff;
    margin-left: -15px;
  }
  .copy {
    width: 101%;
    background: #7b0489;
    padding: 20px 0;
    padding: 15px 0;
    z-index: 10;
    margin-left: -16px;
  }
}

[data-anime] {
  opacity: 0;
  transition: 1.5s;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}

[data-anime='top'] {
  transform: translate3d(0, -50px, 0);
}

[data-anime='top1'] {
  transform: translate3d(0, -50px, 0);
  transition: 1.5s;
}

[data-anime='top2'] {
  transform: translate3d(0, -50px, 0);
  transition: 1.8s;
}

[data-anime='top3'] {
  transform: translate3d(0, -50px, 0);
  transition: 2.1s;
}

[data-anime='top4'] {
  transform: translate3d(0, -50px, 0);
  transition: 2.4s;
}
[data-anime='top5'] {
  transform: translate3d(0, -50px, 0);
  transition: 2.7s;
}

[data-anime='top6'] {
  transform: translate3d(0, -50px, 0);
  transition: 3s;
}

[data-anime='top7'] {
  transform: translate3d(0, -50px, 0);
  transition: 3.3s;
}
[data-anime='top8'] {
  transform: translate3d(0, -50px, 0);
  transition: 3.6s;
}
[data-anime='top9'] {
  transform: translate3d(0, -50px, 0);
  transition: 3.9s;
}

[data-anime='top7'] {
  transform: translate3d(0, -50px, 0);
  transition: 4.2s;
}
[data-anime='top8'] {
  transform: translate3d(0, -50px, 0);
  transition: 4.5s;
}
[data-anime='top9'] {
  transform: translate3d(0, -50px, 0);
  transition: 4.8s;
}

[data-anime='bottom'] {
  transform: translate3d(0, 50px, 0);
}

[data-anime='left'] {
  transform: translateX(100px);
}
[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
